*{
    margin: 30px 0 0 0;
}
header{
    background-color: #50A470 ;
    position: fixed;
    top: -30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.zag11{
    font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header>*{
display: inline-block;
padding: 0 150px;
}
a{
    padding: 0 50px;
    text-decoration: none;
    color: black;
    

}
.skidki1a{
    background-color: #3E9959;
    border-radius: 60px;
    height: 400px;
    width: 1000px;
    margin: 100px;
}
.skidki1a>*{
    display: inline-block;
    padding: 0 20px ;
}
.skidki11h{
   position: absolute;
   bottom: 250px;
   right: 240px;
   text-align: center;
   z-index: 0;
   font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}

.skid1h{
    position: relative;
    bottom: 5px;
    left: 20px;
    font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.skid1a{
    display: inline-block;
    background-color: #3E9959;
    border-radius: 60px;
    height: 350px;
    width: 350px;
}
.skid1a>*{
    position: relative;
    left: 45px;
    bottom: 10px;
}
.skid2a>*{
    position: relative;
    left: 25px;
    bottom: 10px;
}
.skid3a>*{
    position: relative;
    left: 25px;
    bottom: 10px;
}
.skid2a{
    display: inline-block;
    background-color: #3E9959;
    border-radius: 60px;
    height: 350px;
    width: 350px;
}
.skid3a{
    display: inline-block;
    background-color: #3E9959;
    border-radius: 60px;
    height: 350px;
    width: 350px;
    bottom: 300px;
}
.skidki1>*{
    margin: 30px;
}
.skid1p{
    font-size: larger;
    position: relative;
    bottom: 50px;
    left: 150px;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.skid2p{
    font-size: larger;
    position: relative;
    bottom: 105px;
    left: 570px;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.skid3p{
    font-size: larger;
    position: relative;
    bottom: 155px;
    left: 1000px;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.nova1h{
    position: relative;
    bottom: 5px;
    left: 20px;
    font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nova1a{
    display: inline-block;
    background-color: #3E9959;
    border-radius: 60px;
    height: 350px;
    width: 350px;
}
.nova1a>*{
    position: relative;
    left: 30px;
    bottom: 10px;
}
.nova2a>*{
    position: relative;
    left: 45px;
    bottom: 10px;
}
.nova3a>*{
    position: relative;
    left: 25px;
    bottom: 10px;
}
.nova2a{
    display: inline-block;
    background-color: #3E9959;
    border-radius: 60px;
    height: 350px;
    width: 350px;
}
.nova3a{
    display: inline-block;
    background-color: #3E9959;
    border-radius: 60px;
    height: 350px;
    width: 350px;
    bottom: 300px;
}
.nova1>*{
    margin: 30px;
}
.nova1p{
    font-size: larger;
    position: relative;
    bottom: 50px;
    left: 150px;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.nova2p{
    font-size: larger;
    position: relative;
    bottom: 105px;
    left: 570px;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.nova3p{
    font-size: larger;
    position: relative;
    bottom: 155px;
    left: 1000px;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.pop1h{
    position: relative;
    bottom: 5px;
    left: 20px;
    font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pop1a{
    height: 550px;
    background-color:#3E9959;
    display: inline-block;
    border-radius: 50px;
}
.pop1a>*{
    padding: 10px;
    height: 500px;
    display:inline-block ;
}
.pop2a{
    height: 550px;
    display: inline-block;
    background-color:#3E9959;
    border-radius: 50px;
}
.pop2a>*{
    padding: 10px;
    height: 500px;
    display:inline-block ;
}
.pop1>*{
    margin: 10px 100px 10px 100px;
}
.pop1p{
    position: absolute;
    left: 150px;
    font-size: larger;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.pop2p{
    position: absolute;
    right: 270px;
    font-size: larger;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.cata1>*{
    display: inline-block;
    margin: 10px;
}
.cata1h{
    position: absolute;
    top: 2650px;
    left: 110px;
  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.cata1a{
    background-color:#3E9959;
    border-radius: 50px;
    position: absolute;
    left: 50px;
    padding: 5px;
    height: 350px;
    width: 320px;

}
.cata2a{
    background-color:#3E9959;
    border-radius: 50px;
    position: absolute;
    left: 440px;
    padding: 5px;
    height: 350px;
    width: 320px;
}
.cata3a{
    background-color:#3E9959;
    border-radius: 50px;
    position: absolute;
    left: 830px;
    padding: 5px;
    height: 350px;
    width: 320px;
}
.cata4a{
    background-color:#3E9959;
    border-radius: 50px;
    position: absolute;
    left: 50px;
    top: 250px;
    padding: 5px;
    height: 350px;
    width: 320px;
}

.cata5a{
    background-color:#3E9959;
    border-radius: 50px;
    position: absolute;
    left: 440px;
    top: 250px;
    padding: 5px;
    height: 350px;
    width: 320px;
}

.cata6a{
    background-color:#3E9959;
    border-radius: 50px;
    position: absolute;
    left: 830px;
    top: 250px;
    padding: 5px;
    height: 350px;
    width: 320px;
}
.cata1a>*{
    position: absolute;
    left: 25px;
    height: 300px;
    width: 280px;
}
.cata2a>*{
    position: absolute;
    left: 25px;
    height: 300px;
    width: 280px;
}
.cata3a>*{
    position: absolute;
    left: 25px;
    height: 300px;
    width: 280px;
}
.cata4a>*{
    position: absolute;
    left: 25px;
    height: 300px;
    width: 280px;
}
.cata5a>*{
    position: absolute;
    left: 25px;
    height: 300px;
    width: 280px;
}
.cata6a>*{
    position: absolute;
    left: 25px;
    height: 300px;
    width: 280px;
}
.cata1d{
    height: 400px;
    width: 9000px;
    display: inline-block;
    position: absolute;
    top: 2700px;
}
.cata2d{
    height: 400px;
    width: 9000px;
    display: inline-block;
    position: absolute;
    top: 2900px;
}
.cata1p{
    position: absolute;
    top: 3100px;
    left: 170px;
  font-size: larger;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.cata2p{
    position: absolute;
    top: 3100px;
    left: 580px;
    font-size: larger;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.cata3p{
    position: absolute;
    top: 3100px;
    left: 930px;
    font-size: larger;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.cata4p{
    position: absolute;
    top: 3550px;
    left: 175px;
    font-size: larger;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.cata5p{
    position: absolute;
    top: 3550px;
    left: 580px;
    font-size: larger;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.cata6p{
    position: absolute;
    top: 3550px;
    left: 930px;
    font-size: larger;
    font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.otz1{
    position: absolute;
    top:3600px;
    left:50px;
}
.otz1h{
    font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.otz1a{
    background-color: #50A470;
    border-radius: 30px;
    height: 100px;
    width: 1100px;
}
.otz2a{
    background-color: #50A470;
    border-radius: 30px;
    height: 100px;
    width: 1100px;
}
.otz3a{
    background-color: #50A470;
    border-radius: 30px;
    height: 100px;
    width: 1100px;
}
.otz1p{
    position: absolute;
    left:10px;
    top: 90px;
    font-size: 20px;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.otz2p{
    position: absolute;
    left:10px;
    top: 225px;
    font-size: 20px;
     font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.otz3p{
    position: absolute;
    left:10px;
    top: 350px;
    font-size: 20px;
     font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer{
    position: absolute;
    background-color: #50A470;
    width: 100%;
    top: 4100px;
   font-family: "Nova Round", system-ui;
   font-weight: 400;
   font-style: normal;
}
.zvd>*{
    position: absolute;
    height: 50px;
}
.zvd1{
    left: 840px;
    bottom: 300px;
}
.zvd2{
    left: 890px;
    bottom: 300px;
}
.zvd3{
    left: 940px;
    bottom: 300px;
}
.zvd4{
    left: 990px;
    bottom: 300px;
}
.zvd5{
    left: 1040px;
    bottom: 300px;
}
.zvd6{
    left: 840px;
    bottom: 170px;
}
.zvd7{
    left: 890px;
    bottom: 170px;
}
.zvd8{
    left: 940px;
    bottom: 170px;
}
.zvd9{
    left: 990px;
    bottom: 170px;
}
.zvd10{
    left: 1040px;
    bottom: 170px;
}
.zvd11{
    left: 840px;
    bottom: 40px;
}
.zvd12{
    left: 890px;
    bottom: 40px;
}
.zvd13{
    left: 940px;
    bottom: 40px;
}
.zvd14{
    left: 990px;
    bottom: 40px;
}
.zvd15{
    left: 1040px;
    bottom: 40px;
}



